body, html {
  height: 100%;
}

img {
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right: 0;
    margin:auto;
}

div {
    color: white;
    font-size: 100px;
}

table {
    height: 100%;
    width: 100%;
}